*.pdb
*.7z
*.lnk
*.suo
Common/obj/*
MetaLanguageParser/obj/*
Common/bin/Debug/*
MetaLanguageParser/bin/Debug/debug
/#README.txt
/MetaLanguageParser/#devDoc
/MetaLanguageParser/#devDoc_
/MetaLanguageParser/lang/java/unused/raw
/MetaLanguageParser/bin/Debug/bin/roslyn/Please download the Roslyn CodeCompiler and insert it here.txt
