*.pdb
*.7z
*.lnk
Common/obj/*
MetaLanguageParser/obj/*
Common/bin/Debug/*
MetaLanguageParser/bin/Debug/oldCode
MetaLanguageParser/bin/Debug/debug
/#README.txt
/MetaLanguageParser/#devDoc/BackUpCodes
/MetaLanguageParser/#devDoc
